  .images-container {
    margin-top: 4rem;
  }

  .image-container {
    background-color: #FFFFFF;
    margin-bottom: 5rem;
    padding: 3rem;
    border-radius: 2rem;
  }

  .image-wrapper {
    padding-left: 1rem;
  }

  .column-L {
    float: left;
    width: 40%;
  }

  .column-R {
    float: left;
    width: 60%;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

/* sort button */
  .btn {
    position: fixed;
    right: 0.2rem;
    bottom: 4rem;
  }

  .sort, .re-sort {
    color: red;
  }
  
  .sorted {
    color: green;
  }

  
  @media screen and (max-width: 900px) {
    .column-L {
      width: 100%;
    }
    .column-R {
      width: 100%;
      text-align: center;
      margin-top: 1rem;
    }

    .image-wrapper {
      text-align: center;
    }

    .image {
      width: 80%;
      height: 80%;
    }

  }


